.cardShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
}
.cardShadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.buttonCard {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
.cardLinkTitle{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
.zoom__hover {
  transition: transform 1s; /* Animation */
  min-height: 30rem;
  max-height: 30rem;
}

.zoom__hover:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.pagination {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  background: rgb(1, 0, 3);
  margin-top: 20px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 1px solid rgb(1, 0, 3);
}
.pagination a {
  color: white;
  float: left;
  font-size: 20px;
  text-decoration: none;
}

.pagination li {
  display: inline-block;
  padding: 1em;
  color: #f1f1f1;
  background: rgb(1, 0, 3);
  border: 1px solid rgb(1, 0, 3);
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgb(15, 3, 3);
  border-radius: 5px;
  text-decoration: none;
}
.pagination .active {
  background: rgb(96, 87, 221);
}

::-webkit-scrollbar{
  width: 3px;
}  

::-webkit-scrollbar-track{
  background: initial;
}

::-webkit-scrollbar-thumb{
  background: #3f4b4a;
  border-radius: 50px;
}